/*
TITLES:
font-family: 'Press Start 2P', cursive;

MAIN TEXT:
font-family: 'IBM Plex Mono', monospace;
*/
/* GENERAL SETUP */
:root {
  --pkm-red: #FF0000;
  --pkm-red-dark: #CC0000;
  --pkm-blue: #3B4CCA;
  --pkm-yellow: #FFDE00;
  --dark-grey: #2f2828;
  --font-size-main: 16px;
  --heading-big: 35px;
}

* {
  box-sizing: border-box;
}

h1,
li {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: var(--heading-big);
  text-transform: capitalize;
}

p {
  font-size: 20px;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: var(--font-size-main);
  text-align: center;
  background-color: var(--dark-grey);
}

button {
  border-radius: 30px;
}

/* HEADER */
.page-header {
  background-color: var(--pkm-red-dark);
  padding: 15px;
  margin-bottom: 20px;
}

/* MAIN CONTENT - LOADING MESSAGE */
.loading-message {
  color: white;
}

.hidden {
  display: none;
}

/* MAIN CONTENT - POKEMON LIST */
ul {
  padding: 50px;
  list-style-type: none;
}

li {
  flex: 1 1 0;
  padding: 10px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.pokemon-button {
  background-color: var(--pkm-blue);
  color: white;
  width: 250px;
  padding: 20px;
  margin: 10px;
  text-transform: capitalize;
  border-radius: 30px;
  border: 2px solid grey;
}

.pokemon-button:hover,
.pokemon-button:focus {
  background-color: var(--pkm-blue);
  color: white;
  cursor: pointer;
  opacity: 0.9;
  border-color: var(--pkm-yellow);
}

.pokemon-button:not(:disabled):not(.disabled):active,
.pokemon-button:not(:disabled):not(.disabled):focus{
  color: var(--pkm-red);
  background: var(--dark-grey);
  border-color: var(--pkm-yellow);
  box-shadow: 0 0 8px var(--pkm-yellow);
}


/* MEDIA QUERIES */
/* @media all and (max-width: 670px) {
  h1 {
    font-size: 25px;
  }

  .pokemon-list {
    grid-template-columns: 1fr;
  }

  p {
    font-size: 15px;
  }

  .PokeImage {
    width: 50%;
  }
}

@media all and (min-width: 671px) and (max-width: 975px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
} */
