/*
TITLES:
font-family: 'Press Start 2P', cursive;

MAIN TEXT:
font-family: 'IBM Plex Mono', monospace;
*/
/* GENERAL SETUP */
:root {
  --pkm-red: #FF0000;
  --pkm-red-dark: #CC0000;
  --pkm-blue: #3B4CCA;
  --pkm-yellow: #FFDE00;
  --dark-grey: #2f2828;
  --font-size-main: 16px;
  --heading-big: 35px;
}

* {
  box-sizing: border-box;
}

h1,
li {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: var(--heading-big);
  text-transform: capitalize
}

p {
  font-size: 20px;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: var(--font-size-main);
  text-align: center;
  background-color: var(--dark-grey);
}

li {
  list-style: none;
  margin: auto;
}

button {
  border-radius: 30px;
}

/* HEADER */
.page-header {
  background-color: var(--pkm-red-dark);
  padding: 15px;
  margin-bottom: 20px;
}

/* MAIN CONTENT - LOADING MESSAGE */
.visible {
  color: white;
  font-size: 50px;
}

.hidden {
  display: none;
}

/* MAIN CONTENT - POKEMON LIST */
.pokemon-list {
  display: grid;
  padding-left: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 25px;
  margin: 5px 20px;
}

.pokemon-button {
  background-color: var(--pkm-blue);
  color: white;
  width: 250px;
  padding: 20px;
  margin: 10px;
  text-transform: capitalize;
}

.pokemon-button:hover,
.pokemon-button:focus {
  cursor: pointer;
  opacity: 0.9;
}

/* MODAL - SHOWS POKEMON DETAILS */
#modal-container {
  display: none;
}

#modal-container.is-visible {
  display: block;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow: auto;
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.modal-close {
  float: right;
  font-size: 20px;
  color: var(--pkm-red);
  cursor: pointer;
  border: 0;
  background: none;
}

.PokeImage {
  width: 70%;
}

/* MEDIA QUERIES */
@media all and (max-width: 670px) {
  h1 {
    font-size: 25px;
  }

  .pokemon-list {
    grid-template-columns: 1fr;
  }

  p {
    font-size: 15px;
  }

  .PokeImage {
    width: 50%;
  }
}

@media all and (min-width: 671px) and (max-width: 975px) {
  .pokemon-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* @media all and (max-width: 976px) {

} */
