/*
TITLES:
font-family: 'Press Start 2P', cursive;

MAIN TEXT:
font-family: 'IBM Plex Mono', monospace;
*/

/* GENERAL SETUP */
:root {
  --pkm-red: #f00;
  --pkm-red-dark: #c00;
  --pkm-blue: #3b4cca;
  --pkm-yellow: #ffde00;
  --dark-grey: #2f2828;
  --font-size-main: 16px;
  --heading-big: 25px;
}

* {
  box-sizing: border-box;
}

h1,
li {
  font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: var(--heading-big);
  text-transform: capitalize;
}

p {
  font-size: 20px;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: var(--font-size-main);
  text-align: center;
  background-color: var(--dark-grey);
}

button {
  border-radius: 30px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background-color: var(--pkm-red-dark);
  color: white;
}

/* HEADER */
.page-header {
  background-color: var(--pkm-red-dark);
  padding: 15px;
  margin-bottom: 20px;
}

#logo {
  width: 100%;
}

/* MAIN CONTENT - LOADING MESSAGE */
.loading-message {
  color: white;
}

.hidden {
  display: none;
}

/* MAIN CONTENT - POKEMON LIST */
ul {
  padding: 0;
  list-style-type: none;
}

li {
  flex: 1 1 0;
  padding: 10px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.btn-primary {
  background-color: var(--pkm-blue);
  color: white;
  width: 250px;
  padding: 20px;
  margin: 10px;
  text-transform: capitalize;
  border-radius: 30px;
  border: 2px solid grey;
}

.btn-primary:hover,
.btn-primary:focus:active {
  background-color: var(--pkm-blue);
  color: white;
  cursor: pointer;
  opacity: 0.9;
  border-color: var(--pkm-yellow);
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled):active:hover {
  color: var(--pkm-red);
  background: var(--dark-grey);
  border-color: var(--pkm-yellow);
  box-shadow: 0 0 8px var(--pkm-yellow);
}
